* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;

}

.input input {
  text-align: center;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 7px;
  min-width: 850px;
  max-width: 850px;
  width: 100%;
  height: 40px;
  padding: 0;
  font-size: 18px;
  outline: 0;
  margin-bottom: 5px;
}

input:focus {
  border: 1px solid rgb(122, 122, 122);
  border-radius: 7px;
  background-color: rgba(245, 245, 245, 0.267);
}

.input button {
  background-color: rgb(255, 255, 255);
  padding: 10px 15px;
  border: 0;
  border-radius: 7px;
  box-shadow: 0.4px 0.4px 3px 0.4px rgb(143, 143, 143);
}

.lista {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stileLista {
  list-style-type: none;
  min-width: 900px;
  max-width: 1000px;
  width: 100%;
  padding-inline-start: 0px;
}

.stileLista li {

  font-size: 20px;
  height: 45px;
  margin-bottom: 5px;
  box-shadow: 0.4px 0.4px 3px 0.4px rgb(143, 143, 143);
  border-radius: 7px;
  border: 0;
}

.stileLista.completato {
  border: 0;
  outline: 2px solid rgba(0, 255, 0, 0.404);
  text-decoration: line-through;
  color: rgb(141, 141, 141);
}

.btnElimina {
  background-color: rgb(255, 255, 255);
  color: red;
  height: 45px;
  width: 40px;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 7px;
  float: right;
}

.btnCompletato {
  background-color: rgb(255, 255, 255);
  color: limegreen;
  height: 45px;
  width: 40px;
  border: 1px solid limegreen;
  border-radius: 7px;
  float: right;
}

.elemento {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 5px;
  gap: 15px;
}

span {
  float: left;
  margin: 5px;
}

@media screen and (max-width:1100px) {

  .input input, .input, input, .lista, .stileLista, .elemento {
    min-width: 750px !important;
    width: 100%;
    max-width: 750px !important;
    gap: 0;
  }

}

@media screen and (max-width:800px) {

  .input input, .input, input, .lista, .stileLista, .elemento {
    min-width: 350px !important;
    width: 100%;
    max-width: 350px !important;
    gap: 0;
  }

}








/* --- TEST css react-select da finire ---*/

.stileSelect, .css-b62m3t-container, .css-1s2u09g-control, .css-1pahdxg-control {
  height: 40px;
  min-width: 150px;
  max-width: 150px;
  padding: 0;
  margin: 0;
}

.css-6j8wv5-Input, .css-tlfecz-indicatorContainer {
  padding: 0 !important;
  margin: 0;
  height: 40px;
}


/* Dopo il click btn active */
.css-1pahdxg-control:hover, .css-1pahdxg-control:active, .css-1pahdxg-control {
  border: .5px solid rgb(141, 141, 141) !important;
  outline: 1px solid rgb(122, 122, 122) !important;
  box-shadow: none !important;
}

.css-1pahdxg-control {
  border: 0.3px solid rgba(141, 141, 141, 0.322) !important;
}

.css-319lph-ValueContainer {
  height: 40px;
  padding: 0 !important;
  padding-left: 9px !important;
  margin-bottom: 11px !important;
}

.css-tlfecz-indicatorContainer {
  padding: 5px 5px 5px 5px !important;
}

.css-1okebmr-indicatorSeparator, .css-6j8wv5-Input {
  margin-top: 0px !important;
  display: flex;
  height: 40px;
}